body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-studio{
   color:#2e2f42;
}
.link-studio{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.link-studio:hover {
    color: #404bbf;
}
.link-studio:focus {
    color:#404bbf;
}
.mail-tel{
    font-style: normal;
}
.mail{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.mail:hover{
   color:#404bbf;
}
.mail:focus{
    color: #404bbf;
}
.section-business{
    background-color: #2e2f42;
}
.text-business{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.button:hover{
    background-color: #404BBF;
}
.button:focus{
    background-color: #404BBF;
}
.button{
    cursor: pointer;
}
.title-advantages{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42;
}
.text-advantages{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-our-team{
    background-color: #F4F4FD;
}
.title-our-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}
.list-mark{
    background-color:#FFFFFF;
}
.name-mark{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.text-mark{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.banking-app{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.text-app{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer{
    background-color:#2e2f42;
}
.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.span-footer-logo{
    color: #f4f4fd;
}
.footer-text{
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}